<h1> MOVITECA </h1>
<h3> ¡Gracias por entrar en nuestra página! </h3>
<p> Aquí encontrarás contenidos exclusivos que no hay en ninguna otra página de películas, porque...bueno, somos los mejores, sin más :3 </p>

<a href="/"><button> Click here to look for films </button> </a>
